*.gem
config.ru
*.pid
*.log
/log/*
*.sql
*.sql.gz
._*
config.ru
index/*
public/system/*.flv
*.DS_Store
.DS_Store
.DS_Store?
public/data_db/*.jpg
public/data_db/*.png
public/data_db/packvideo/*.zip
*.cache
public/system
public/system/*
db/sphinx/*
.bundle\n
public/stylesheets/cache/*
/tmp/*
